{% extends 'base.html' %}

{% block title %}Início - Tecmt{% endblock %}

{% block content %}

{% if messages %}
    <div class="mb-4">
        {% for message in messages %}
            <div class="text-center text-sm {% if message.tags == 'error' %}text-red-600{% else %}text-green-600{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Soluções Completas em
            <span>Informática e Design</span>
        </h1>
        <p>Transformamos suas necessidades tecnológicas em soluções profissionais e eficientes</p>
        <div class="hero-buttons">
            <a href="https://wa.me/5511999999999" class="btn-primary">Fale Conosco Agora</a>
            <a href="servicos" class="btn-secondary">Ver Nossos Serviços</a>
            <a href="produtos" class="btn-tertiary">Ver Nossos Produtos</a>

        </div>
    </div>
</section>


{% endblock %}